.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: none;
  color: unset;
  box-shadow: none;
}

.leaflet-popup-content {
  font-size: 1rem;
  width: 95vw !important;
  margin: 0;
}

.leaflet-container a.leaflet-popup-close-button {
  top: 8%;
  right: 8%;
  font: 1.6rem/14px Tahoma, Verdana, sans-serif;
  font-weight: 700;
  color: var(--card-closingCross);
}

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #037fa9;
}

.leaflet-routing-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .leaflet-popup-content {
    width: 25rem !important;
  }
}
