.wrapperButton {
  position: relative;
}

.logoButton {
  position: absolute;
  right: 2.2rem;
  top: 50%;
  transform: translateY(-50%);
}

.button {
  border: none;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  padding-left: 2.5rem;
  padding-right: 3.8rem;
  color: var(--card-closingCross);
  font-size: 19px;
  outline: none;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  transition: all 0.1s linear;
  font-family: var(--dosis);
  font-weight: 900;
}

.buttonActive {
  background-color: var(--card-item-btn-born-background);
}

.buttonDisable {
  background-color: #b0b0b0;
}
