.allCheckboxes {
  display: flex;
  flex-wrap: wrap;
  color: var(--header-checkbox-label-color);
  font-family: var(--dosis);
  font-size: 1.0625rem;
  padding: 0;
  font-weight: 600;
  max-width: 21rem;
  height: 0;
  overflow: hidden;
  transition: 0.3s all ease-out;
}

.display {
  padding: 0 1rem 1rem 1rem;
  height: 6rem;
}

.display .checkbox {
  opacity: 1;
}
.checkbox {
  margin: 1rem;
  opacity: 0;
  transition: 0.3s all ease-out;
}

.checkbox > label {
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

input[type='checkbox'] {
  border-radius: 4px;
  height: 18px;
  width: 18px;
  background: #fff;
  margin-right: 0.3rem;
  border: 1px solid #ccc;
  outline-style: none;
}

input[type='checkbox']:checked {
  background: var(--header-checkbox-background);
  margin-right: 0.3rem;
  border: none;
  position: relative;
  outline-style: none;
  display: flex;
  justify-content: center;
}

input[type='checkbox']:checked:before {
  content: '\2714';
  display: block;
  color: var(--header-checkbox-label-color);
  font-size: 1.1rem;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .allCheckboxes {
    position: absolute;
    z-index: 1020;
    top: 3rem;
    background-color: #fff;
    color: var(--card-item-title-color);
    max-width: initial;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .display {
    height: 3rem;
  }
}
