.wrapperHeader {
  background-color: var(--header-background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.logo {
  transform: translateY(-1rem);
}

.search,
.setting {
  position: absolute;
  right: -3rem;
  padding: 0.5rem 0.4rem;
  cursor: pointer;
  border: none;
  outline: none;
  cursor: pointer;
}

.search {
  top: 1.55rem;
  border-radius: 3rem;
  padding-bottom: 0.2rem;
  background-color: var(--header-checkbox-background);
}

.setting {
  top: -2rem;
  background-color: transparent;
}

.wrapperSearch {
  position: relative;
  z-index: 1050;
}

.wrapperSearchCheckbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

@media screen and (min-width: 768px) {
  .wrapperHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url(../assets/bc-velo.webp);
    height: 20vh;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .wrapperSearchCheckbox {
    position: relative;
  }

  .wrapperSearch {
    display: flex;
    flex-direction: row;
  }

  .logo {
    transform: translateY(0);
    width: 30vh;
  }

  .search,
  .setting {
    z-index: 1010;
  }

  .search {
    top: 0.6rem;
    right: 0.6rem;
  }

  .setting {
    right: 4rem;
    top: 0.6rem;
  }
}
