.container {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    display: block;
    width: 35vw;
  }
  .slider {
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
    left: 70vw;
    width: 25vw;
    top: 2vw;
  }
}
