.container {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    display: block;
    width: 35vw;
  }

  .slider {
    position: relative;
    left: 67vw;
    width: 30vw;
    top: 1.5vw;
    height: 75vh;
    overflow-y: clip;
  }
}
