.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 1000;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-radius: 35px;
  width: 20vw;
  transition: all 0.3s ease-out;
}

.containerActive {
  background-color: var(--main-btn-disabled-background);
  width: 80vw;
  transition: width 0.3s ease-out;
}

.btn {
  width: 4em;
  height: 4em;
  border-radius: 50px;
  border: none;
  outline: none;
  min-width: 4em;
  position: relative;
  transition: background-color 0.1s linear;
}

.btnActive {
  background-color: var(--main-btn-active-background);
}

.btnDisabled {
  background-color: var(--main-btn-disabled-background);
}

.nav {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 35px;
  background-color: var(--main-btn-disabled-background);
}

.navActive {
  width: 70%;
}

.navDisabled {
  width: 0;
  overflow: hidden;
}

.icon {
  width: 2em;
  cursor: pointer;
}

.sliceCross {
  display: block;
  background-color: #fff;
  width: 1.5rem;
  height: 0.3rem;
  position: absolute;
  border-radius: 0.5rem;
  transition: all 0.2s ease-out;
}

.sliceCross:nth-of-type(1) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.sliceCross:nth-of-type(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}

.btnActive > .sliceCross:nth-of-type(1) {
  transform: translate(-50%, -50%) rotate(0deg);
}

@media screen and (min-width: 768px) {
  .container {
    width: 10vw;
    max-width: 25rem;
  }

  .icon {
    width: 3em;
    cursor: pointer;
  }

  .btn {
    cursor: pointer;
  }

  .containerActive {
    background-color: var(--main-btn-disabled-background);
    width: 30vw;
    max-width: 25rem;
  }

  .sliceCross {
    width: 1.8rem;
  }
}
