.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 1000;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-radius: 35px;
  width: 80vw;
}

.containerActive {
  background-color: var(--main-btn-disabled-background);
  border-radius: 35px;
}

.btn {
  width: 5em;
  height: 5em;
  border-radius: 50px;
  border: none;
  outline: none;
}

.btnActive {
  background-color: var(--main-btn-active-background);
}

.btnDisabled {
  background-color: var(--main-btn-disabled-background);
}

.nav {
  width: 50vw;
  background-color: var(--main-btn-disabled-background);
}

.navActive {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 35px;
  width: 70%;
  opacity: 1;
}

.navDisabled {
  display: none;
}

.icon {
  width: 3em;
}

@media screen and (min-width: 768px) {
  .container {
    width: 30vw;
  }
}
