.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border: 2px solid black;
}

.wrapperButton {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-radius: 35px;
  width: 80vw;
}

.containerActive {
  background-color: var(--main-btn-disabled-background);
  border-radius: 35px;
}

.btn {
  width: 5em;
  height: 5em;
  border-radius: 50px;
  border: none;
  outline: none;
}

.btnActive {
  background-color: var(--main-btn-active-background);
}

.btnDisabled {
  background-color: var(--main-btn-disabled-background);
}

.nav {
  width: 50vw;
  background-color: var(--main-btn-disabled-background);
}

.navActive {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 35px;
}
.navDisabled {
  display: none;
}
