@supports (backdrop-filter: none) {
  .popupBodyOpen {
    backdrop-filter: blur(2px);
  }
}

.popupBodyOpen {
  z-index: 2000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.52);
  visibility: visible;
}

.popupBodyClose {
  z-index: 2000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.popupContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--card-item-background);
  padding: 1.2rem 1.2rem;
  width: 18rem;
  height: 18rem;
  border-radius: 0.5rem;
}

.closePopup {
  float: right;
  width: 1.5rem;
  font-size: 2.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  color: var(--card-closingCross);
  background: none;
  border: none;
}

.closePopup:focus {
  outline: 0;
}

.closePopup:hover {
  color: #037fa9;
}

.popupTitle {
  font-family: var(--daysOne);
  margin-top: 0;
}

.phoneContact {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 2.2rem;
}

.phoneContact > a {
  text-decoration: none;
  font-family: var(--dosis);
  color: black;
}

.contactIcons {
  margin-right: 0.6rem;
}

.opneningTime {
  line-height: 0.5rem;
  margin: 3rem 0rem;
}

.adressContact {
  line-height: 0.5rem;
  margin-top: 2.5rem;
}

.adress > a {
  text-decoration: none;
  font-family: var(--dosis);
  color: black;
}

.adress {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .phoneContact {
    margin-top: 2rem;
  }

  .popupContent {
    width: 23rem;
  }
  .opneningTime {
    line-height: 1.2rem;
    margin: 3rem 0rem;
  }
}
