.pricesCard {
  background-color: var(--card-background);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.card {
  background-color: var(--card-item-background);
  margin: 1rem 3vw;
  padding: 1.3rem;
  max-height: 60vw;
  border-radius: 5px;
  box-shadow: 0 6px 7px rgb(185, 182, 182);
}

.name {
  color: var(--card-item-title-color);
  font-family: 'Days One';
  font-style: normal;
}

p {
  font-family: 'Dosis';
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .card {
    width: 20vw;
    height: 20vh;
  }
}
