.pricesCard {
  background-color: var(--card-background);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.card {
  background-color: var(--card-item-background);
  margin: 1rem 3vw;
  padding: 1.3rem;
  max-height: 60vw;
  border-radius: 5px;
  box-shadow: 0 6px 7px rgb(185, 182, 182);
  font-family: 'Dosis';
  font-style: normal;
  color: var(--card-item-title-color);
}

.titleCard {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .card {
    width: 25vw;
    height: 20vh;
    padding: 0.2rem 1.3rem 0.2rem 1.3rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1250px) {
  .card {
    height: 25vh;
  }
}
