.main {
  background-color: #f6f7fb;
}

.header {
  background-color: var(--header-background);
  align-items: center;
  flex-direction: column;
  position: relative;
  color: white;
  display: flex;
  height: 248px;
}
.logo {
  transform: translateY(-1rem);
}

h1 {
  font-family: var(--daysOne);
  margin: 0;
  padding: 0 0 0.5rem 0;
  font-size: 1.5rem;
  transform: translateY(-1rem);
}
.checkbox {
  font-family: var(--dosis);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 1rem;
}

label {
  margin: 0.5rem;
  display: flex;
  justify-items: center;
}

ul {
  padding: 0;
}
