.main {
  background-color: #f6f7fb;
}

.header {
  background-color: var(--header-background);
  color: white;
}

h1 {
  font-family: var(--daysOne);
}
label {
  font-family: var(--dosis);
}
ul {
  padding: 0;
}
