.main {
  background-color: var(--card-background);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.listStation {
  background-color: var(--card-item-background);
  margin: 1rem 3vw;
  padding: 1.3rem;
  max-height: 60vw;
  display: flex;
  border-radius: 5px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 6px 7px rgb(185, 182, 182);
}
.infos {
  flex: 1;
  padding-right: 1rem;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0.4;
}
.name {
  color: var(--card-item-title-color);
  font-family: 'Days One';
  font-style: normal;
}
p {
  font-family: 'Dosis';
  font-style: normal;
}
.banking {
  color: #97454b;
  border-style: solid;
  border-color: #c92e3a;
  border-radius: 0.5vh;
  border-width: 1px;
  padding: 1.3rem 0.3rem;
  text-align: center;
  margin-bottom: 0;
}
.notBanking {
  color: #00754e;
  border-style: solid;
  border-color: #009966;
  border-radius: 0.5vh;
  border-width: 1px;
  padding: 1.3rem 0.3rem;
  text-align: center;
  margin-bottom: 0;
}
.button {
  background-color: var(--card-item-btn-itinerary-background);
  color: white;
  border: none;
  padding: 1.5rem 0.5rem;
  border-radius: 0.5vh;
}

.mapBlock {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 0;
}

@media screen and (min-width: 768px) {
  .main {
    display: none;
  }

  .name {
    font-size: 1.1em;
  }

  .listStation {
    margin: 1rem 1.5vw;
    max-width: 25rem;
  }

  .banking,
  .notBanking {
    margin: 0;
    margin-top: 0.2rem;
  }

  p {
    margin: 0.2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .listStation {
    display: flex;
    flex-direction: column;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .button,
  .banking,
  .notBanking {
    margin: 0.5vw;
  }
}
