/*

  --card-background: #f6f7fb;
  --card-item-background: #ffffff;
  --card-item-title-color: #2d2d2d;
  --card-item-btn-itinerary-background: #248bad;
  --card-item-btn-born-background: #f2f2f2;
*/
.main {
  background-color: var(--card-background);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.list {
  background-color: var(--card-item-background);
  margin: 3vw;
  padding-left: 4vw;
  padding-right: 4vw;
  max-height: 60vw;
  display: flex;
  border-radius: 2vw;
  justify-content: space-around;
  box-shadow: 0 6px 7px rgb(185, 182, 182);
}
.infos {
  flex: 1;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0.4;
}
.name {
  color: var(--card-item-title-color);
  font-family: 'Days One';
  font-style: normal;
}
p {
  font-family: 'Dosis';
  font-style: normal;
}
.banking {
  color: #97454b;
  border-style: solid;
  border-color: #c92e3a;
  border-radius: 0.5vh;
  border-width: 1px;
  padding: 1.5vw;
  text-align: center;
}
.button {
  background-color: var(--card-item-btn-itinerary-background);
  color: white;
  border: none;
  padding: 1.5vw;
  border-radius: 0.5vh;
  height: 35px;
}
